.tiles {
  overflow: hidden;
  background-color: rgba(17, 120, 209, 0.3);
  height: 185px;
  width: 635px;
  margin-bottom: 15px;
}
.tile {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  margin-left: 18px;
  margin-top: 17px;
  width: 137px;
  height: 138px;
  display: inline-block;
}
.pricebox {
  background-color: rgba(138, 43, 226, 0.4);
  position: absolute;
  top: 1px;
  right: 10px;
  width: 59px;
  height: 70px;
}
